body {
    margin: 0;
    box-sizing: border-box;
    background-color: #23252C;
    font-family: Inter, sans-serif;

}

main {
    display: flex;
    align-items: center;
    height: 100vh;
}

/* Card styling */

.card {
    background-color: #1A1B21;
    margin: auto;
    min-width: 320px;
    border-radius: 10px;

}

.card--profile-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card--name {
    margin-top: 21px;
}

/* `Name` component */
.card--name > h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
}

/* `JobPosition` component */
.card--job-position > span {
    color: #F3BF99;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    display: block;
}

/* `Link` component */
.card--link > a {
    color: #F5F5F5;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    display: block;
}

.card--link > a:visited {
    color: #F5F5F5;
}


/* `About` and `Interests` component*/
section {
    padding: 20px 30px;
}

section > h2, section > p {
    margin: 0;
}

section > h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

section > p {
    font-size: 11px;
    line-height: 150%;
    color: #DCDCDC;
}

/* `Button` component */
button {
    margin: 16px auto 12px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 9px 13px;
    border-radius: 6px;
    border: #D1D5DB 1px solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

}

button > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
}

button > .fa-envelope {
    color: #374151;
}

/* `Footer` component */
footer {
    background-color: #161619;
    height: 64px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > a > img {
    width: 25px;
    height: auto;
}
